.achievment-node{
    background-color: rgba(0, 0, 0, 0.4);

    z-index: 10;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    animation: showAchievement 2s;
    color :white;
    
    padding:5%;
}
.title-node{
    font-size : x-large;
}

.info-node{
    font-size: large;
}

@keyframes showAchievement {
    0% {
        top: -100px;
    }

    50% {
        top: 50px;
    }

    70% {
        top: 50px;
    }

    100% {
        top: 0px;
    }
}